<div class="all-questions">
  <% @questions.each do |q| %>
    <div class="single-question">
      <div class="question-title">
        <strong><%= link_to q.title, question_path(q) %></strong>
      </div>
      <div class="question-likes-votes">
        Likes: <%= q.likes.count %> | Votes: <%= q.votes.count %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
