<div class="container text-center">
  <h1>Your Profile:</h1>
  <br> <br>
  <div style="padding-left:25%" class="text-left">
    <span class="h3">Name: <%= @user.full_name.titleize %></span>
  </div>

  <br> <br>

  <div style="padding-left:25%" class="text-left">
    <span class="h3">Email: <%= @user.email %></span>
  </div>
</div>
