<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<h1><i class="em em-shit"></i>I Am Nothing. I am everything. I do not exist.<i class="em em-shit"></i></h1>

<h1><i class="em em-squirrel"></i></h1>
