// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkbox-container input {
	margin-left: 100px;
}

.btn-primary {
	background-color: #222;
	border-color: #222;
}

.btn {
	font-size: 16px;
	margin-top: 8px;
}

form {
  .checkbox {
    display: inline-block;
    margin-right: 10px;
    input[type="checkbox"] {
      margin-left: -13px;
    }
  }
  .check_boxes {
    label {
      display: block;
    }
  }
}

img.full-width {
	width: 100%;
}

.all-questions {
	width: 75%;
  margin: 0 auto;
	margin-top: 50px;

	.question-title {
		display: inline-block;
		font-size: 18px;
	}

	.question-likes-votes {
		display: inline-block;
		float: right;
		vertical-align: middle;
	}
}
