// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vote-arrows {
  display: inline-block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.upvote {
	border-bottom: 15px solid black;
}

.upvote-yes {
	border-bottom: 15px solid #DC143C;
}

.downvote {
	border-top: 15px solid black;
}

.downvote-yes {
	border-top: 15px solid #DC143C;
}
